@model PhotoSharingApp.Models.Photo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create New Photo</title> 
    <link type="text/css" rel="stylesheet" href="~/content/Site.css" />
</head>
<body>
   
            <div id="title" class="slide header">
                <h1>Create New Photo</h1>
            </div>
            @using (Html.BeginForm("Create",
               "Photo", FormMethod.Post, new
               {
                   enctype =
                  "multipart/form-data"
               }))
            {
                @Html.ValidationSummary(true)










            <div id="slide2" class="slide">
                <div class="title">
                    
                    <p>

                        <tr>
                            <th>
                                @Html.LabelFor(
model => model.Title):
                                @Html.EditorFor(
model => model.Title)   @Html.ValidationMessageFor(
model => model.Title)
                    </th>
                    <th>
                        @Html.LabelFor(
   model => model.PhotoFile):
                        <input type="file" name="Image" />
                    </th>
                    </tr>

                    <tr>
                        <th>
                            @Html.LabelFor(
model => model.Description):
                            @Html.EditorFor(
model => model.Description)

                            @Html.ValidationMessageFor(
model => model.Description)
                        </th>
                        <th>
                            @Html.LabelFor(
model => model.UserName):
                            @Html.EditorFor(
model => model.UserName)   @Html.ValidationMessageFor(
model => model.UserName)
                    </th>
                    </tr>

                    <tr>
                        <th>
                            @Html.LabelFor(
model => model.CreatedDate):
                            @Html.DisplayFor(
model => model.CreatedDate)
                        
                            <input type="submit" value="Create" />


                        </th>
                    </tr>


                    </p>
                </div>
                <img src="https://lorempixel.com/640/480/abstract/6/">
                <img src="https://lorempixel.com/640/480/abstract/4/">
            </div>
    <footer><b>
    @Html.ActionLink("Back to List",
               "Index")
</b></footer>
            }
</body>
</html>
